* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em; 
  height: 100%;   
}

a{
    float: none;
   
}

#navbar {
    background: white;
    color: gray;
    overflow: auto;
}

#navbar h2 {
    float: left;
    padding-top: 20px;
}

#navbar ul {
    list-style: none;
    padding-left: 550PX ;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover {
    color: black;
}


#img {
    background-image: "/Users/ynon/Desktop/tesla/images/model-3-exterior-left-front-three-quarter.webp;"
}

#middle  {
    position: absolute;
    padding-left: 750px;
    padding-top: 85px;    
    text-align: center;
}

